[preset.0]

name="Android"
platform="Android"
runnable=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter="tests/*"
export_path="../build/android/big-business.apk"
encryption_include_filters=""
encryption_exclude_filters=""
encrypt_pck=false
encrypt_directory=false
script_export_mode=2

[preset.0.options]

gradle_build/use_gradle_build=false
architectures/armeabi-v7a=false
architectures/arm64-v8a=true
architectures/x86=false
architectures/x86_64=false
version/code=1
version/name="0.1.0"
package/unique_name="com.talmeshali.bigbusiness"
package/name="Big Business"
package/signed=true
screen/immersive_mode=true
screen/support_small=true
screen/support_normal=true
screen/support_large=true
screen/support_xlarge=true
permissions/internet=true
permissions/vibrate=true

[preset.1]

name="iOS"
platform="iOS"
runnable=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter="tests/*"
export_path="../build/ios/BigBusiness.ipa"
encryption_include_filters=""
encryption_exclude_filters=""
encrypt_pck=false
encrypt_directory=false
script_export_mode=2

[preset.1.options]

application/app_store_team_id="K6X8PQ2VZN"
application/export_project_only=true
application/bundle_identifier="com.talmeshali.bigbusiness"
application/short_version="0.1.0"
application/version="1"
application/targeted_device_family=2
privacy/photolibrary_usage_description="Choose a picture for your own card art in Designer."

[preset.2]

name="Android emulator"
platform="Android"
runnable=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter="tests/*"
export_path="../build/android/big-business-emulator.apk"
encryption_include_filters=""
encryption_exclude_filters=""
encrypt_pck=false
encrypt_directory=false
script_export_mode=2

[preset.2.options]

; The emulator's Vulkan cannot present frames (QueuePresentKHR error 5), so this
; build draws with OpenGL. Phones use the Android preset.
command_line/extra_args="--rendering-method gl_compatibility --rendering-driver opengl3"
gradle_build/use_gradle_build=false
architectures/armeabi-v7a=false
architectures/arm64-v8a=true
architectures/x86=false
architectures/x86_64=false
version/code=1
version/name="0.1.0"
package/unique_name="com.talmeshali.bigbusiness"
package/name="Big Business"
package/signed=true
screen/immersive_mode=true
screen/support_small=true
screen/support_normal=true
screen/support_large=true
screen/support_xlarge=true
permissions/internet=true
permissions/vibrate=true
